<div class="margin">
      <table class="table table-hover">
          <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">URL</th>
                <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let url of imageService.getImageList(); let i = index"><th scope="row">{{i}}</th> <td>{{url}}</td> <td><button type="button" class="btn btn-default btn-sm" style="border:none"(click)="clickDelete(i)" ><span class="glyphicon glyphicon-trash" style="color:red"></span></button></td></tr>
          </tbody>
      </table>

  </div>
